main {
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

button {
	border: 0.3rem solid black;
	width: fit-content;
	padding-inline: 1rem;
}